.projects {
  background-color: #2e2f34;
  height: 100%;
  width: 100%;
  color: white;
  text-align: center;
}
.projects-intro h6 {
  padding-top: 50px;
  font-family: "sora" sans-serif;
  color: #00ffff;
  font-size: 1.5em;
}
.projects-intro h2 {
  font-family: "Neuton", serif;
  font-size: 2.5em;
}

.project-div {
  padding-bottom: 50px;
}

.project-button {
  /* margin-top: 10px; */
  background-color: transparent;
  color: #00ffff;
  font-family: "sora", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid #00ffff;
}
.new-cards {
  margin-top: 50px;
}

.column {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.project-card {
  background-color: #34353a;
  width: 90%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 50px;
  border-radius: 20px;
  padding: 10px;
}
.card-img {
  width: 60%;
  height: 90%;
}
.project-button {
  background-color: transparent;
  color: #00ffff;
  font-family: "sora", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 10px 20px;
  border: 1px solid #00ffff;
}

@media screen and (max-width: 900px) {
  .column {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .project-card {
    background-color: #34353a;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 50px;
    border-radius: 20px;
    padding: 10px;
  }
  .card-img {
    width: 90%;
    height: 50%;
  }
}
